# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/app.cpython-310.pyc
checkpoints/ViT-B-32.pt
clip/__init__.py
clip/__pycache__/__init__.cpython-310.pyc
clip/__pycache__/__init__.cpython-38.pyc
clip/__pycache__/clip.cpython-310.pyc
clip/__pycache__/clip.cpython-38.pyc
clip/__pycache__/model.cpython-310.pyc
clip/__pycache__/model.cpython-38.pyc
clip/__pycache__/simple_tokenizer.cpython-310.pyc
clip/__pycache__/simple_tokenizer.cpython-38.pyc
clip/bpe_simple_vocab_16e6.txt.gz
clip/clip.py
clip/model.py
clip/simple_tokenizer.py
phototest.jpg
phototest.jpg
*.jpg
